/* (A) CONTAINER */
.collapse, .collapse ul {
  list-style-type: none;
  padding-left: 10px;
}

/* (B) LIST ITEMS */
.collapse li { padding: 10px; }

/* (C) TOGGLE */
.toggle {
  padding: 10px;
  cursor: pointer;
}
.toggle::before {
  display: inline-block;
  width: 15px;
  content: "+";
}
.toggle.show::before { content: "-"; }

/* (D) SHOW/HIDE */
.collapse ul { display: none; }
.toggle.show + ul { display: block; }

/* (X) NOT IMPORTANT */
* {
  font-family: Courier;
  box-sizing: border-box;
}
@media screen and (max-width: 400px) {   
    #main-img{
        content: url(./Links/home_page_index/mobile_header_image.png) !important;
    } 
}

body 
  {
    margin: 0px; 
    padding: 0px;
  }
  #main
  {
    background: white; 
    width: 100%; 
  }

img
  {
    width: 100%
  }

  .links
  {
    width: 100%
    display: block; 
    background: white; 
    color: black: 
    margin-top: 8px; 
    font-size: 1.5em; 
  }

  #content
  {
    font-size: 16pt; 
  }

  #footer
  {
    display: none; 
  }

